openapi: 3.0.1
info:
  title: Customer.io Broadcasts People API
  description: Specification of the Customer.io APIs for customer messaging and marketing automation. Covers the Track API (track.customer.io - people, events, devices, manual segments, plus the v2 entity/batch endpoints), the App / Transactional API (api.customer.io - transactional send, API-triggered broadcasts, customers, segments, campaigns, newsletters, messages, exports, collections, snippets, sender identities, imports), and the Pipelines / Data Pipelines CDP API (cdp.customer.io - identify, track, page, screen, group, alias, batch). Authentication differs per surface - the Track API uses HTTP Basic auth with site_id:api_key, the App and Pipelines APIs use a Bearer token.
  termsOfService: https://customer.io/legal/terms-of-service/
  contact:
    name: Customer.io Support
    email: win@customer.io
  version: '1.0'
servers:
- url: https://track.customer.io
  description: Track API (US region)
- url: https://track-eu.customer.io
  description: Track API (EU region)
- url: https://api.customer.io
  description: App / Transactional API (US region)
- url: https://api-eu.customer.io
  description: App / Transactional API (EU region)
- url: https://cdp.customer.io
  description: Pipelines / Data Pipelines CDP API (US region)
- url: https://cdp-eu.customer.io
  description: Pipelines / Data Pipelines CDP API (EU region)
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: People
  description: Track API - add, update, suppress, or delete people (customers).
paths:
  /api/v1/customers/{identifier}:
    put:
      operationId: identifyCustomer
      tags:
      - People
      summary: Create or update a person
      description: Create or update a person (customer) and set their attributes. Uses HTTP Basic auth with site_id:api_key.
      parameters:
      - name: identifier
        in: path
        required: true
        description: The customer's unique identifier (id or email, per workspace settings).
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: Person created or updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
    delete:
      operationId: deleteCustomer
      tags:
      - People
      summary: Delete a person
      description: Delete a person from the workspace.
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Person deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
components:
  schemas:
    Person:
      type: object
      description: A person (customer) and their attributes.
      properties:
        email:
          type: string
        created_at:
          type: integer
          description: Unix timestamp when the person was created.
        _update:
          type: boolean
      additionalProperties: true
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            error:
              type: string
            errors:
              type: array
              items:
                type: string
  responses:
    Unauthorized:
      description: Authentication failed or credentials missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Track API auth. Base-64 encode site_id:api_key and pass it in the Authorization header (Basic ...).
    bearerAuth:
      type: http
      scheme: bearer
      description: App API and Pipelines API auth. Pass the App API key (or Pipelines source write key) as a Bearer token in the Authorization header.
