openapi: 3.0.1
info:
  title: Customer.io Broadcasts Segments API
  description: Specification of the Customer.io APIs for customer messaging and marketing automation. Covers the Track API (track.customer.io - people, events, devices, manual segments, plus the v2 entity/batch endpoints), the App / Transactional API (api.customer.io - transactional send, API-triggered broadcasts, customers, segments, campaigns, newsletters, messages, exports, collections, snippets, sender identities, imports), and the Pipelines / Data Pipelines CDP API (cdp.customer.io - identify, track, page, screen, group, alias, batch). Authentication differs per surface - the Track API uses HTTP Basic auth with site_id:api_key, the App and Pipelines APIs use a Bearer token.
  termsOfService: https://customer.io/legal/terms-of-service/
  contact:
    name: Customer.io Support
    email: win@customer.io
  version: '1.0'
servers:
- url: https://track.customer.io
  description: Track API (US region)
- url: https://track-eu.customer.io
  description: Track API (EU region)
- url: https://api.customer.io
  description: App / Transactional API (US region)
- url: https://api-eu.customer.io
  description: App / Transactional API (EU region)
- url: https://cdp.customer.io
  description: Pipelines / Data Pipelines CDP API (US region)
- url: https://cdp-eu.customer.io
  description: Pipelines / Data Pipelines CDP API (EU region)
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Segments
  description: Manual segment membership management.
paths:
  /api/v1/segments/{segment_id}/add_customers:
    post:
      operationId: addCustomersToSegment
      tags:
      - Segments
      summary: Add people to a manual segment
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentMembership'
      responses:
        '200':
          description: People added to segment.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
  /api/v1/segments/{segment_id}/remove_customers:
    post:
      operationId: removeCustomersFromSegment
      tags:
      - Segments
      summary: Remove people from a manual segment
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentMembership'
      responses:
        '200':
          description: People removed from segment.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
  /v1/segments:
    get:
      operationId: listSegments
      tags:
      - Segments
      summary: List segments
      responses:
        '200':
          description: A list of segments.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - bearerAuth: []
    post:
      operationId: createSegment
      tags:
      - Segments
      summary: Create a manual segment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                segment:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
      responses:
        '200':
          description: Segment created.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - bearerAuth: []
components:
  schemas:
    SegmentMembership:
      type: object
      required:
      - ids
      properties:
        ids:
          type: array
          items:
            type: string
          description: Customer identifiers to add to or remove from the manual segment.
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            error:
              type: string
            errors:
              type: array
              items:
                type: string
  responses:
    Unauthorized:
      description: Authentication failed or credentials missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Track API auth. Base-64 encode site_id:api_key and pass it in the Authorization header (Basic ...).
    bearerAuth:
      type: http
      scheme: bearer
      description: App API and Pipelines API auth. Pass the App API key (or Pipelines source write key) as a Bearer token in the Authorization header.
