openapi: 3.0.1
info:
  title: Customer.io Broadcasts Devices API
  description: Specification of the Customer.io APIs for customer messaging and marketing automation. Covers the Track API (track.customer.io - people, events, devices, manual segments, plus the v2 entity/batch endpoints), the App / Transactional API (api.customer.io - transactional send, API-triggered broadcasts, customers, segments, campaigns, newsletters, messages, exports, collections, snippets, sender identities, imports), and the Pipelines / Data Pipelines CDP API (cdp.customer.io - identify, track, page, screen, group, alias, batch). Authentication differs per surface - the Track API uses HTTP Basic auth with site_id:api_key, the App and Pipelines APIs use a Bearer token.
  termsOfService: https://customer.io/legal/terms-of-service/
  contact:
    name: Customer.io Support
    email: win@customer.io
  version: '1.0'
servers:
- url: https://track.customer.io
  description: Track API (US region)
- url: https://track-eu.customer.io
  description: Track API (EU region)
- url: https://api.customer.io
  description: App / Transactional API (US region)
- url: https://api-eu.customer.io
  description: App / Transactional API (EU region)
- url: https://cdp.customer.io
  description: Pipelines / Data Pipelines CDP API (US region)
- url: https://cdp-eu.customer.io
  description: Pipelines / Data Pipelines CDP API (EU region)
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Devices
  description: Track API - register and remove customer device tokens.
paths:
  /api/v1/customers/{identifier}/devices:
    put:
      operationId: addDevice
      tags:
      - Devices
      summary: Add or update a device
      description: Register or update a device token for push notifications for a person.
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
      responses:
        '200':
          description: Device added or updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
  /api/v1/customers/{identifier}/devices/{device_id}:
    delete:
      operationId: deleteDevice
      tags:
      - Devices
      summary: Delete a device
      description: Remove a device token from a person.
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: device_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Device removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
components:
  schemas:
    DeviceRequest:
      type: object
      required:
      - device
      properties:
        device:
          type: object
          required:
          - id
          - platform
          properties:
            id:
              type: string
              description: The device token.
            platform:
              type: string
              enum:
              - ios
              - android
            last_used:
              type: integer
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            error:
              type: string
            errors:
              type: array
              items:
                type: string
  responses:
    Unauthorized:
      description: Authentication failed or credentials missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Track API auth. Base-64 encode site_id:api_key and pass it in the Authorization header (Basic ...).
    bearerAuth:
      type: http
      scheme: bearer
      description: App API and Pipelines API auth. Pass the App API key (or Pipelines source write key) as a Bearer token in the Authorization header.
