openapi: 3.0.1
info:
  title: Customer.io Broadcasts Events API
  description: Specification of the Customer.io APIs for customer messaging and marketing automation. Covers the Track API (track.customer.io - people, events, devices, manual segments, plus the v2 entity/batch endpoints), the App / Transactional API (api.customer.io - transactional send, API-triggered broadcasts, customers, segments, campaigns, newsletters, messages, exports, collections, snippets, sender identities, imports), and the Pipelines / Data Pipelines CDP API (cdp.customer.io - identify, track, page, screen, group, alias, batch). Authentication differs per surface - the Track API uses HTTP Basic auth with site_id:api_key, the App and Pipelines APIs use a Bearer token.
  termsOfService: https://customer.io/legal/terms-of-service/
  contact:
    name: Customer.io Support
    email: win@customer.io
  version: '1.0'
servers:
- url: https://track.customer.io
  description: Track API (US region)
- url: https://track-eu.customer.io
  description: Track API (EU region)
- url: https://api.customer.io
  description: App / Transactional API (US region)
- url: https://api-eu.customer.io
  description: App / Transactional API (EU region)
- url: https://cdp.customer.io
  description: Pipelines / Data Pipelines CDP API (US region)
- url: https://cdp-eu.customer.io
  description: Pipelines / Data Pipelines CDP API (EU region)
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Events
  description: Track API - send customer or anonymous behavioral events.
paths:
  /api/v1/events:
    post:
      operationId: trackAnonymousEvent
      tags:
      - Events
      summary: Track an anonymous event
      description: Send an event that is not yet attributed to a known person. Anonymous events can later be associated with a person when they are identified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Event accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
  /api/v1/customers/{identifier}/events:
    post:
      operationId: trackCustomerEvent
      tags:
      - Events
      summary: Track a customer event
      description: Send an event attributed to a known person to trigger campaigns or update segments.
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Event accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
components:
  responses:
    Unauthorized:
      description: Authentication failed or credentials missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            error:
              type: string
            errors:
              type: array
              items:
                type: string
    Event:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: The event name.
        type:
          type: string
          description: Set to "page" for page-view events.
        timestamp:
          type: integer
        data:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Track API auth. Base-64 encode site_id:api_key and pass it in the Authorization header (Basic ...).
    bearerAuth:
      type: http
      scheme: bearer
      description: App API and Pipelines API auth. Pass the App API key (or Pipelines source write key) as a Bearer token in the Authorization header.
